{% if config.theme.related.enabled %}

{% if page.evaluate([{'@page.children': page.parent.route}])|length > 0 %}
    {% set collection = page.evaluate([{'@page.children': page.parent.route}]) %}
{% endif %}

{% apply spaceless %}

{% if collection %}
    {% set previous = collection.nextSibling(page.path) %}
    {% set next = collection.prevSibling(page.path) %}
    {% if page.parent.route is not same as(page.topParent.route) %}
        {% if not previous.url %}
            {% set previous = page.parent %}
        {% endif %}
        {% if not next.url %}
            {% set next = page.evaluate([{'@page.children': page.parent.parent.route}]).prevSibling(page.parent.path) %}
        {% endif %}
    {% endif %}
    {% if previous.url or next.url %}
        <aside class="next-previous" aria-label="{{ "THEME_SCHOLAR.GENERIC.NEXT"|t|capitalize }} {{ "THEME_SCHOLAR.GENERIC.AND"|t }} {{ "THEME_SCHOLAR.GENERIC.PREVIOUS"|t }}">
            <article>
            {% if previous.url %}
            <h2>
                <a href="{{ previous.url }}" aria-label="{{ "THEME_SCHOLAR.GENERIC.PREVIOUS"|t|capitalize }}">
                    {# Icon8 LineAwesome v1.3.0 Angle Left #}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M 19.03125 4.28125 L 8.03125 15.28125 L 7.34375 16 L 8.03125 16.71875 L 19.03125 27.71875 L 20.46875 26.28125 L 10.1875 16 L 20.46875 5.71875 Z"/>
                    </svg>
                    {{ previous.title }}
                </a>
            </h2>
            {% endif %}
            </article>
            <article>
            {% if next.url %}
            <h2>
                <a href="{{ next.url }}" aria-label="{{ "THEME_SCHOLAR.GENERIC.NEXT"|t|capitalize }}">
                    {{ next.title }}
                    {# Icon8 LineAwesome v1.3.0 Angle Right #}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M 12.96875 4.28125 L 11.53125 5.71875 L 21.8125 16 L 11.53125 26.28125 L 12.96875 27.71875 L 23.96875 16.71875 L 24.65625 16 L 23.96875 15.28125 Z"/>
                    </svg>
                </a>
            </h2>
            {% endif %}
            </article>
        </aside>
    {% endif %}
{% endif %}

{% endapply %}

{% endif %}