<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
{% block head %}
<head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock meta %}
    {% block stylesheets %}
        {% do assets.addCss('theme://css/theme.css', 100) %}
        {% do assets.addCss('theme://css/print.css', {'priority': 99, 'media': "print"}) %}
        {% do assets.addCss('theme://css/styles/' ~ config.theme.style ~ '.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
    {% do assets.addJs('theme://node_modules/@khanacademy/tota11y/dist/tota11y.min.js') %}
    {% do assets.addJs('theme://js/theme.js') %}
    {% do assets.addInlineJs('Scholar.accessibilityInit();', {group: 'bottom'}) %}
    {% block critical %}
        {{ assets.css('critical')|raw }}
        {{ assets.js('critical')|raw }}
    {% endblock %}
    {% block assets deferred %}
        {{ assets.css()|raw }}
    {% endblock %}
</head>
{% endblock %}
{% block body %}
{% if page.route and page.route is not empty %}
    {{ dump('root_template ' ~ root_template(page.route)) }}
{% endif %}
{% if page.template and page.template is not empty %}
    {{ dump('template ' ~ page.template) }}
{% endif %}
<body id="top" class="{{ page.header.classes }} {{ body_classes }}">
    {% block prepend %}{% endblock %}
    {% block main %}
        {% block header %}{% endblock %}
        {% block article %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block aside %}{% endblock %}
        {% block footer %}{% endblock %}
    {% endblock %}
    {% block append %}{% endblock %}
    {% block bottom %}
        {{ assets.js()|raw }}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
</body>
{% endblock %}
</html>
