<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
{% block head %}
<head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/head.metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock meta %}
    {% if config.theme.css %}
        {% do assets.addCss('theme://css/theme.css', 100) %}
        {% do assets.addCss('theme://css/print.css', {'priority': 99, 'media': "print"}) %}
        {% do assets.addCss('theme://css/styles/' ~ uri.query('style') ?? page.header.theme.style ?? page.topParent.header.theme.style ?? config.theme.style ~ '.css', 99) %}
    {% endif %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
    {% block stylesheets %}
    {% endblock %}

    {% if config.theme.js %}
        {% do assets.addJs('theme://js/theme.js', {group: 'bottom'}) %}
        {% do assets.addInlineJs('Scholar.accessibilityInit();', {group: 'bottom'}) %}
        {% do assets.addInlineJs('Scholar.mobileInit();', {group: 'bottom'}) %}
    {% endif %}
    {% block javascripts %}{% endblock %}
    {% block critical %}
        {{ assets.css('critical')|raw }}
        {{ assets.js('critical')|raw }}
    {% endblock %}
    {% include 'partials/components/highlighter.html.twig' %}
    {% block assets deferred %}
        {{ assets.css()|raw }}
    {% endblock %}
</head>
{% endblock %}
{% block body %}
<body class="{{ page.header.classes }} {{ body_classes }}">
    {% block prepend %}{% endblock %}
    {% block main %}
        {% block header %}{% endblock %}
        {% block article %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block aside %}{% endblock %}
        {% block footer %}{% endblock %}
    {% endblock %}
    {% block bottom %}
        {{ assets.js()|raw }}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
</body>
{% endblock %}
{% block append %}{% endblock %}
</html>
