{% if render ?? config.theme.toolbar.enabled %}

{% block title %}
    <h1>
        <a href="{{ uri.rootUrl(true) }}" aria-label="{{ "THEME_SCHOLAR.HOME"|t }}">{{ site.title }}</a>
    </h1>
{% endblock %}

{% block links %}
    <nav class="links" role="navigation" aria-label="{{ "THEME_SCHOLAR.LINKS"|t }}">
        <div>
        {% for page in page.collection({ items: {'@root.children': ''}, filter: {'published': true, 'visible': true} }) if not page.home() %}
            <a href="{{ page.url }}">{{ page.header.menu ?? page.title }}</a>
        {% endfor %}
        </div>
    </nav>
{% endblock %}

{% block menu %}

<nav class="menu" role="navigation" aria-label="{{ "THEME_SCHOLAR.MENU"|t }}">

    {% block mobile %}
        {% if renderMobile ?? config.theme.toolbar.navigation %}
            <div mobile-menu-open role="button" tabindex="0" data-target="nav[role='navigation'].links" aria-label="{{ "THEME_SCHOLAR.GENERIC.OPEN"|t|capitalize }} {{ "THEME_SCHOLAR.MENU"|t }}">
                {# Icon8 LineAwesome v1.3.0 Bars #}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path d="M 4 7 L 4 9 L 28 9 L 28 7 L 4 7 z M 4 15 L 4 17 L 28 17 L 28 15 L 4 15 z M 4 23 L 4 25 L 28 25 L 28 23 L 4 23 z"/></svg>
            </div>
        {% endif %}
    {% endblock %}

    {% block search %}
        {% set searchFile = files_exist([
            page.header.search,
            page.topParent.header.search,
            'user://data/persist/index.js'
        ]) %}
        {% if renderSearch ?? config.theme.toolbar.search and searchFile %}
            {% include 'partials/components/search/field.html.twig' %}
        {% endif %}
    {% endblock %}
    
    {% block drawer %}
        {% if renderNavigation ?? config.theme.toolbar.navigation and navigablePage.headings is not empty %}
        <div data-drawer-open role="button" tabindex="0" data-target="drawer-menu" aria-label="{{ "THEME_SCHOLAR.GENERIC.OPEN"|t|capitalize }} {{ "THEME_SCHOLAR.MENU"|t }}">
            {# Icon8 LineAwesome v1.3.0 Bars #}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path d="M 4 7 L 4 9 L 28 9 L 28 7 L 4 7 z M 4 15 L 4 17 L 28 17 L 28 15 L 4 15 z M 4 23 L 4 25 L 28 25 L 28 23 L 4 23 z"/></svg>
        </div>
        {% endif %}
    {% endblock %}

</nav>

{% endblock %}

{% endif %}