{% block content %}

{% block section %}
<section>
    {% for page in collection %}
    <article>
        <header>
            <a href="{{ page.url }}">
            <h2>{{ page.title }}</h2>
            {% if page.header.subtitle %}
            <h3>{{ page.header.subtitle }}</h3>
            {% endif %}
            {% if page.header.image %}
                {{ page.media[page.header.image].html(null, null) }}
            {% endif %}
            </a>
        </header>
        <section>
            {{ page.summary|strip_html_tags('h1,h2,h3,h4,h5,h6') }}
        </section>
        <footer>
            {% include 'partials/taxonomy.html.twig' with {page: item} %}
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}

{% endblock %}