{% macro iterate(taxonomy, theme, base_url_absolute) %}
    {% import _self as metadata %}
    {% for type, value in taxonomy %}
        {% if type|of_type('string') == true %}
        <dt>{{ ('THEME_SCHOLAR.SCHEMA.' ~ type|upper)|t }}: </dt>
        {% endif %}
        {% if value is iterable %}
            {{ metadata.list(value, type) }}
        {% else %}
            <dd>
                <a href="{{ base_url_absolute }}{{ theme.routes.search }}/?{{ type }}={{ value }}">{{ value }}</a>
            </dd>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro list(item, type = '') %}
    {% import _self as metadata %}
    {% for key, value in item %}
        {% if value is iterable %}
            <dl>
                {{ metadata.list(value, key) }}
            </dl>
        {% else %}
            <dd>
            {% if key is same as('email') %}
                <a href="mailto:{{ value|safe_email }}">{{ value|safe_email }}</a>
            {% elseif key is same as('url') %}
                <a href="{{ value }}">{{ value }}</a>
            {% elseif key in ['categories', 'tags', 'date'] %}
                <a href="{{ base_url_absolute }}{{ theme.routes.search }}/{{ type }}={{ value }}">{{ value }}</a>
            {% else %}
                <span>{{ value }}</span>
            {% endif %}
            </dd>
        {% endif %}
    {% endfor %}
{% endmacro %}