{% extends 'default.html.twig' %}

{% set body_classes = (body_classes|default('blog post page')) %}

{% block article %}
<section>
    <img alt="{{ "THEME_SCHOLAR.PAGE.HERO_IMAGE"|t }} {{ "THEME_SCHOLAR.GENERIC.FOR"|t }}  {{ page.title }}" src="{{ page.media[page.header.image.url ?? page.header.image].url }}" />
    <article>
        {% block content %}
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        {% include 'partials/components/default/metadata.html.twig' with {'page': page} %}
        {{ navigablePage.content|raw }}
        {% endblock %}
    </article>
</section>
{% endblock %}

{% block footer %}
{% include 'partials/components/related.html.twig' with {'page': page} %}
{% include 'partials/footer.html.twig' %}
{% endblock %}