{% extends 'default.html.twig' %}

{% set body_classes = (body_classes|default('page listing')) %}

{% block article %}

{% with {
    'page': page,
    'collection': page.collection
    } %}
    {{ block('content', 'partials/page/listing.html.twig') }}
{% endwith %}
<aside>
    <header>
        {% if page.header.logo %}
            {% if page.media[page.header.logo.url ?? page.header.logo].extension == 'svg' %}
                {{ rawcontent(page.media[page.header.logo.url ?? page.header.logo].filepath)|raw }}
            {% else %}
                <img src="{{ page.media[page.header.logo.url ?? page.header.logo].url }}" role="figure" />
            {% endif %}
        {% endif %}
        <h1>{{ page.title }}</h1>
        {{ page.content|raw }}
    </header>
    {% with {
        'page': page,
        'collection': page.collection('aside')
        } %}
        {{ block('content', 'partials/page/listing.html.twig') }}
    {% endwith %}
</aside>

{% endblock %}
