{% extends page.topParent.template ?? 'default' ~ '.html.twig' %}

{% block javascripts %}
    {% with {
        'mode': 'form'
        } %}
        {{ block('javascripts', 'partials/components/search/assets.html.twig') }}
    {% endwith %}
{% endblock %}

{% block header %}
<header role="banner">
    {% with {
        'page': page,
        'navigablePage': navigablePage
        } %}
        {{ block('links', 'partials/docs/header.html.twig') }}
    {% endwith %}
</header>
{% endblock %}

{% block article %}
<article class="search">
    <h1>{{ "THEME_SCHOLAR.SEARCH.ADVANCED"|t }}</h1>
    {% include 'partials/components/search/form.html.twig' %}
    <h2>{{ "THEME_SCHOLAR.SEARCH.RESULTS"|t }}</h2>
    <aside class="search-results" aria-label="{{ "THEME_SCHOLAR.SEARCH.RESULTS"|t }}"></aside>
</article>
{% endblock %}