{% block content %}

<h3>{{ name|capitalize }}</h3>
{% apply spaceless %}
{% for item in listing if item is not empty %}
    <div class="date">
    {% if item.endDate %}
        {{ item.startDate|date("Y") }}
    {% elseif item.date %}
        {{ item.date|date("Y") }}
    {% elseif item.releaseDate %}
        {{ item.releaseDate|date("Y") }}
    {% else %}
        &nbsp;
    {% endif %}
    {% if item.endDate %}
        -{{ item.endDate|date("Y") }}
    {% endif %}
    </div>
    {% if item is iterable %}
        <div class="entry">
            <h4>{{ item.position ?? item.area ?? item.title ?? item.name ?? item.language }}</h4>
            {% if item.company is defined 
                or item.organization is defined 
                or item.institution is defined 
                or item.awarder is defined 
                or item.publisher is defined 
                or item.level is defined 
                or item.fluency is defined 
            %}
            <em>, 
                {% if item.website %}<a href="{{ item.website }}">{% endif %}
                {{ item.company ?? item.organization ?? item.institution ?? item.awarder ?? item.publisher ?? item.level ?? item.fluency }}
                {% if item.website %}</a>{% endif %}
            </em>
            {% endif %}
            {% if item.summary %}<p>{{ item.summary }}</p>{% endif %}
            {% if item.keywords %}<p>{{ item.keywords|join(", ") }}</p>{% endif %}
            {% if item.reference %}<p>{{ item.reference }}</p>{% endif %}
        </div>
    {% else %}
        <p>{{ item }}</p>
    {% endif %}
{% endfor %}
{% endapply %}

{% endblock %}