{% block content %}

<h3>{{ name|capitalize }}</h3>
{% apply spaceless %}
{% for item in listing if item is not empty %}
    {% if item is iterable %}
        <div class="entry">
            <div class="date">
            {% if item.start_date %}
                {{ item.start_date|date("Y") }}-
            {% elseif item.date %}
                {{ item.date|date("Y") }}
            {% elseif item.releaseDate %}
                {{ item.releaseDate|date("Y") }}
            {% endif %}
            {% if item.end_date %}
                {{ item.end_date|date("Y") }}
            {% endif %}
            </div>
            {% if item.title is defined %}
            <h4>{{ item.title }}</h4>
            {% endif %}
            <em>
            {% if item.name is defined or item.level is defined %}
                {% if item.url %}<a href="{{ item.url }}">{% endif %}
                {{ item.name ?? item.level }}
                {% if item.url %}</a>{% endif %}
            {% endif %}
            </em>
            {% if item.description is defined %}{{ item.description|markdown }}{% endif %}
            {% if item.keywords is defined %}{{ item.keywords|join(', ')|markdown }}{% endif %}
        </div>
    {% else %}
        <p>{{ item }}</p>
    {% endif %}
{% endfor %}
{% endapply %}

{% endblock %}