<nav class="breadcrumbs links" aria-label="{{ "THEME_SCHOLAR.BREADCRUMBS"|t }}">
    {% if config.theme.toolbar.breadcrumbs %}
    <div>
        {% for breadcrumb in breadcrumbs.get() %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>{% if not loop.last %} &raquo; {% endif %}
            {# <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|truncate_words(45, ' &hellip;') }}</a>{% if not loop.last %} &raquo; {% endif %} #}
        {% endfor %}
    </div>
    {% endif %}
</nav>