{% extends 'partials/base.html.twig' %}

{% set navigablePage = page_navigation(page.content ?? '', page.header.itemize ?? theme.itemize ?? false) %}
{% set language = grav.language.getActive ?: grav.config.site.default_lang|default('en') %}

{% if navigablePage.content is empty %}
    {% if page.evaluate([{'@self.children': ''}])|length > 0 %}
        {% set mode = 'children' %}
        {% set collection = page.evaluate([{'@self.children': ''}]) %}
    {% elseif page.evaluate([{'@self.siblings': ''}])|length > 0 %}
        {% set mode = 'siblings' %}
        {% set collection = page.evaluate([{'@self.siblings': ''}]) %}
    {% else %}
        {% set mode = 'blank' %}
    {% endif %}
    {% set body_classes = (body_classes|default('docs listing ' ~ mode)) %}
{% else %}
    {% set body_classes = (body_classes|default('docs')) %}
{% endif %}

{% block javascripts %}
    {% if config.theme.toolbar.navigation and navigablePage.headings is not empty %}
        {% do assets.addInlineJs('Scholar.drawerInit();', {group: 'bottom'}) %}
    {% endif %}
    {% with {
        'mode': 'field'
        } %}
        {{ block('javascripts', 'partials/components/search/assets.html.twig') }}
    {% endwith %}
{% endblock %}

{% block main %}

<main>
    {% block header %}
    <header role="banner">
        {% include 'partials/docs/header.html.twig' with {'page': page, 'navigablePage': navigablePage} %}
    </header>
    {% endblock %}
    <section>
    {% block article %}
        <article>
        {% if navigablePage.content is empty %}
            {% with {
                'page': page,
                'mode': mode,
                'collection': collection
                } %}
                {{ block('content', 'partials/docs/listing.html.twig') }}
            {% endwith %}
        {% else %}
            {% with {
                'title': page.title,
                'content': page_navigation(page.content, page.header.itemize ?? theme.itemize ?? null).content
                } %}
                {{ block('content', 'partials/docs/content.html.twig') }}
            {% endwith %}
        {% endif %}
        </article>
    {% endblock %}
    </section>
    {% block search_results %}
    {% include 'partials/components/search/wrapper.html.twig' %}
    {% endblock %}
    {% include 'partials/components/related.html.twig' with {'page': page} %}
</main>

{% block sidebar %}
<aside class="sidebar" aria-checked="false">

    {% block mobile %}
        {% if config.theme.toolbar.navigation %}
            <div  mobile-menu-close role="button" tabindex="0" data-target=".sidebar" aria-label="{{ "THEME_SCHOLAR.GENERIC.OPEN"|t|capitalize }} {{ "THEME_SCHOLAR.MENU"|t }}">
                {# Icon8 LineAwesome v1.3.0 Bars #}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path d="M 4 7 L 4 9 L 28 9 L 28 7 L 4 7 z M 4 15 L 4 17 L 28 17 L 28 15 L 4 15 z M 4 23 L 4 25 L 28 25 L 28 23 L 4 23 z"/></svg>
            </div>
        {% endif %}
    {% endblock %}

    <header>
        <h1>
            <a href="{{ uri.rootUrl(true) }}">{{ site.title }}</a>
        </h1>
    </header>
    {% set route = page.route %}
    {% if page.template != 'docs' %}
        {% set route = page.topParent.route %}
    {% endif %}
    {% if page.template == 'docs' or page.topParent.template == 'docs' %}
        {% include 'partials/docs/sidebar/menu.html.twig' with {'pages': page.find(route)} %}
    {% endif %}
    {% block footer %}
    <footer>
        <section>
            <a href="{{ page.topParent.url(true) }}{{ theme.routes.search }}">
                {# Icon8 LineAwesome v1.3.0 Sliders #}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true">
                    <path d="M 4 4 L 4 28 L 6 28 L 6 23 L 8.1875 23 C 8.6057178 24.155745 9.7079818 25 11 25 C 12.292018 25 13.394282 24.155745 13.8125 23 L 28 23 L 28 21 L 13.8125 21 C 13.394282 19.844255 12.292018 19 11 19 C 9.7079818 19 8.6057178 19.844255 8.1875 21 L 6 21 L 6 17 L 20.1875 17 C 20.605718 18.155745 21.707982 19 23 19 C 24.292018 19 25.394282 18.155745 25.8125 17 L 28 17 L 28 15 L 25.8125 15 C 25.394282 13.844255 24.292018 13 23 13 C 21.707982 13 20.605718 13.844255 20.1875 15 L 6 15 L 6 11 L 13.1875 11 C 13.605718 12.155745 14.707982 13 16 13 C 17.292018 13 18.394282 12.155745 18.8125 11 L 28 11 L 28 9 L 18.8125 9 C 18.394282 7.8442551 17.292017 7 16 7 C 14.707983 7 13.605718 7.8442551 13.1875 9 L 6 9 L 6 4 L 4 4 z M 16 9 C 16.564129 9 17 9.4358709 17 10 C 17 10.564128 16.564128 11 16 11 C 15.435872 11 15 10.564128 15 10 C 15 9.4358709 15.435871 9 16 9 z M 23 15 C 23.564128 15 24 15.435872 24 16 C 24 16.564128 23.564128 17 23 17 C 22.435872 17 22 16.564128 22 16 C 22 15.435872 22.435872 15 23 15 z M 11 21 C 11.564128 21 12 21.435872 12 22 C 12 22.564128 11.564128 23 11 23 C 10.435871 23 10 22.564129 10 22 C 10 21.435871 10.435871 21 11 21 z"/>
                </svg>
                <span>{{ "THEME_SCHOLAR.SEARCH.ADVANCED"|t }}</span>
            </a>
        </section>
        {% include 'partials/footer.html.twig' %}
    </footer>
    {% endblock %}
</aside>
{% endblock %}

{% endblock %}

{% block append %}
    {% if config.theme.toolbar.navigation and navigablePage.headings is not empty %}
        {% include 'partials/drawer.html.twig' with {headings: navigablePage.headings} %}
    {% endif %}
{% endblock %}
