<form class="search-query" role="search" aria-label="{{ "THEME_SCHOLAR.SEARCH.TITLE"|t }}">
    <div class="nested">
        <input class="three" type="text" id="title" name="title" placeholder="{{ "THEME_SCHOLAR.SEARCH.FIELDS.TITLE"|t }}" aria-label="{{ "THEME_SCHOLAR.SEARCH.FIELDS.TITLE"|t }}" />
        <input class="three" type="date" id="date" name="date" aria-label="{{ "THEME_SCHOLAR.SEARCH.FIELDS.DATE"|t }}" />
        <select class="categories-select three" aria-label="{{ "THEME_SCHOLAR.SEARCH.FIELDS.CATEGORIES"|t }}">
            <option value=""></option>
        </select>
        <select class="tags-select three" aria-label="{{ "THEME_SCHOLAR.SEARCH.FIELDS.FIELDS.TAGS"|t }}">
            <option value=""></option>
        </select>
        <input class="twelve" type="text" id="content" name="content" placeholder="{{ "THEME_SCHOLAR.SEARCH.FIELDS.CONTENT"|t }}" aria-label="{{ "THEME_SCHOLAR.SEARCH.FIELDS.CONTENT"|t }}" />
    </div>
</form>